[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-restful = "*"
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
alembic = "*"
sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.8"
