/* styles.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Add your custom global styles here */
body {
  font-family: 'Roboto', sans-serif;
}
